@charset "utf-8";
/* CSS Document */
body {
	margin-left: 5px;
	margin-top: 3px;
	text-align: center;
	width: 990px;
	margin: auto;
}
img {
	border: 0px
}
a:link {
	color: #FFFFFF
}
a:visited {
	color: #FFFFFF
}
a:hover {
	color: #FF9900;
}
.main {
	position: relative;
}
.print {
	position: absolute;
	height: 37px;
	width: 47px;
	left: 937px;
	top: 10px;
}
.tablebk {
	background-color: black;
	width: 990px;
}
.from {
	color: #FFFFFF;
	margin-bottom: 5px;
	margin: auto;
}
.back {
	position: absolute;
	height: 23px;
	width: 60px;
	left: 0px;
	top: 20px;
}
.navigation {
	position: absolute;
	width:990px;
	left: 0px;
	top: 575px;
}
.link {
	position: absolute;
	left: 370px;
	top: 124px;
	font-size: large;
	color: #FFF;
	font-family: "Arial Black", Gadget, sans-serif;
	font-weight: bold;
}
